# Ignore node modules, environment variables

# root directory
*/node_modules/

# footnote-backend directory
footnote-backend/node_modules
footnote-backend/.env
footnote-backend/config/ca-certificate.crt

