.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px; /* Distance from the bottom */
  right: 40px; /* Distance from the right */
  z-index: 1000; /* Ensures it's on top of other elements */
}

.logout-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logout-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
