.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #ffff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  position: fixed; /* Fixed positioning */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensures it's on top of other elements */
}

.logout-button:hover {
  background: #3c009d; /* Optional hover effect */
}

.logout-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
