/* General Page Styles */

#projectpage * {
  cursor: url("../../assets/cursor-shadow.png"), auto;
}

#projectpage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/holographic-background.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: repeat-y;
  filter: brightness(0.6);
  z-index: -10;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 600px;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.title-input {
  outline: none;
  background-color: transparent;
  text-align: center;
  font-size: 48px;
  font-weight: 650;
  border: none;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Nice text shadow */
}

/* Main content section */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Left Half - Placeholder for Video Player */
.video-placeholder {
  width: 100%;
  height: 500px;
  background-color: #f0f0f0;
  border: 3px solid black;
  position: relative;
}

.arrow-to-pencil {
  position: absolute;
  top: 30px;
  right: 55px;
  width: 30px;
  height: 30px;
  opacity: 0.9;
}

.pencil-video-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.pencil-video-button-img {
  width: 20px;
  height: 20px;
}

/* Right Half - Annotation Section */
.annotation-container {
  max-height: 70vh; /* Use 80% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add some padding for better UI */
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #ddd; /* Subtle border for separation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

/* Flex utility classes */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.border-end {
  border-right: 2px solid #eaeaea;
}

.home-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 1000; /* Ensures it's on top of other elements */
}

.home-button {
  left: 40px;
}

.delete-button {
  left: 50vw;
  transform: translateX(-50%);
}

.home-icon,
.delete-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Optional: Styling for responsive behavior */
@media (max-width: 768px) {
  .container-fluid {
    width: 90%;
    margin-top: 100px;
  }

  .left-half,
  .right-half {
    width: 100%;
    padding: 15px;
  }
}
