.password-input-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 40px;
  background: white;
  position: relative; /* Allows precise positioning for the toggle icon */
}

.password-input-container img {
  margin: 0px 30px;
}

.password-input-container input {
  flex: 1;
  background: transparent;
  box-sizing: border-box;
}

.password-input-container button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute; /* Allows precise positioning of the button */
  right: -20px; /* Adjust horizontal position */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.visibility-icon {
  width: 30px; /* Adjust as needed */
  height: auto;
}
