.password-input-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
  position: relative; /* Allows precise positioning for the toggle icon */
}

.password-input-container img {
  margin: 0px 30px; /* Matches the margin for the user icon */
}

.password-input-container input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.password-input-container button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px; /* Adjust size for toggle icon */
  position: absolute; /* Allows precise positioning of the button */
  right: 20px; /* Adjust horizontal position */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Fine-tune vertical centering */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #797979;
}

.password-input-container button:hover {
  color: #3c009d; /* Add hover effect */
}
